
body{
  margin: 0;
  text-align: center;
  font-family: 'Courier Prime', monospace;
  color: #40514e;
}
h1{
  margin : 50px auto 0 auto;
  font-family: 'Courier Prime', monospace;
  font-size: 50px;
  color: #40bfc1;
}
h2{
    color: #40bfc1;
    font-family: 'Courier Prime', monospace;
    font-weight: normal;

}
h3{
  color: #40bfc1;
  font-family: 'Courier Prime', monospace;
}
hr{
 border:none;
 border-top:6px dotted grey;
 color:grey;
 background-color:none;
 height:50px;
 width:5%;
}


.intro{
  text-align: center;
  width: 50px;

}
.topContainer{
  background-color: #beebe9;
  position: relative;
  padding-top: 100px;

}

.middleContainer{
  padding-top: 20px;

}
.bottomContainer{
  background-color: #66BFBF;
  color: #eaf6f6;
  height: 100px;
  padding-top: 60px;

}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;


}
.top-cloud{
   position: absolute;
   right: 300px;
   top:50px;
}

.skill-row{
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}
.code{
  width: 20%;
  float: left;
  margin-right: 15px;
}
.talk{
  width: 20%;
  float: right;
  margin-right: 15px;
}
.footer-link{
  color: #11999e;
  margin: 10px;
  text-decoration: none;
  position: relative;
  top: 1px;
}
.footer-link:hover{
  color:white;
}
.btn {
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: linear-gradient(to bottom, #66BFBF, #66BFBF);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 15px;
   height: 0px;
   line-height: 0px;
   color: white;
   font-family: Open Sans;
   width: 110px;
   font-size: 16px;
   font-weight: 100;
   padding: 20px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   margin-bottom: 20px;
   margin-top: 20px;
}
.btn:hover{
  color:#beebe9;
}


.footer{
  position: relative;
  top: 10px;
  padding: 20px 0;
  font-size: 15px;
}
